body {
    background: url(fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: black;
    position: absolute;
}

