* {
    margin: 0;
    padding: 0;
}

#menu{
    list-style-type: none;
    margin: auto;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
   left:20%;
     
}
body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li > a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}

.menu > li:hover > a {
    background-color: #575757;
}

.submenu {
    display: none; /* Ocultar el submenú por defecto */
    position: absolute;
    background-color: #333;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.menu > li:hover .submenu {
    display: block; /* Mostrar el submenú al pasar el mouse */
}

.submenu li a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: #575757;
}

